services:
  service-a:
    build:
      context: .                # Project root
      dockerfile: service-a/Dockerfile
    container_name: service-a
    ports:
      - "8080:8080"
    networks:
      - app-network
    restart: unless-stopped

  service-b:
    build:
      context: .                # Project root
      dockerfile: service-b/Dockerfile
    container_name: service-b
    ports:
      - "8081:8081"
    networks:
      - app-network
    # depends_on:           intentionally removing to dependency for test
    #   - service-a
    restart: unless-stopped

  test:
    build:
      context: .
      dockerfile: testing/Dockerfile
    container_name: test
    networks:
      - app-network
    # depends_on:
    #   - service-b

networks:
  app-network:
    driver: bridge

